{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="flex-middle banca">
        <div class="layout">
            <div class="search mt48">
                <form>
                    <input type="search" placeholder="Tìm kiếm">
                </form>
            </div>
            <div class="filterGame mb24">
                <div class="filterGameItem flex-middle">
                    <p class="font18">TRÒ CHƠI HOT NHẤT</p>
                </div>
                <div class="filterGameItem flex-middle">
                    <p class="font18">TẤT CẢ TRÒ CHƠI</p>
                </div>
                <div class="filterGameItem flex-middle">
                    <p class="font18">TRÒ CHƠI MỚI NHẤT</p>
                </div>
            </div>
            <div class="GameList flex-middle fw-w mt24">
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
            </div>
            <div class="pagination flex-middle mt24 mb24">
                <input type="button" value="<<">
                <input type="button" value="<">
                <input type="button" value="1/9">
                <input type="button" value=">">
                <input type="button" value=">>">
            </div>
        </div>
    </div>
{% endblock %}