{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="flex-middle casino">
        <div class="layoutV2">
            <div class="GameList flex-middle fw-w mt24">
                <div class="GameItem">
                    <img src="{% static 'img/asset/casino/DG.jpg' %}" alt="">
                    <div class="flex-middle">
                        <p>DG CASINO</p>
                    </div>
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
                <div class="GameItem">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}