{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="flex-middle daga">
        <div class="layoutV2">
            <div class="GameList flex-middle fw-w mt24">
                <div class="GameItemV1">
                    <img src="" alt="">
                </div>
                <div class="GameItemV1">
                    <img src="" alt="">
                </div>
                <div class="GameItemV1">
                    <img src="" alt="">
                </div>
                <div class="GameItemV1">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}