{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="flex-middle hot">
        <div class="layoutV2">
            <div class="GameList flex-middle fw-w mt24">
                <div class="GameItemV3">
                    <img src="{% static 'img/asset/hot/casino-dg.png' %}" alt="">
                </div>
                <div class="GameItemV3">
                    <img src="{% static 'img/asset/hot/casino-sexy.png' %}" alt="">
                </div>
                <div class="GameItemV3">
                    <img src="{% static 'img/asset/hot/game-bai.png' %}" alt="">
                </div>
                <div class="GameItemV3">
                    <img src="{% static 'img/asset/hot/no-hu.png' %}" alt="">
                </div>
                <div class="GameItemV3">
                    <img src="{% static 'img/asset/hot/the-thao.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}