{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="flex-middle khuyenmai">
        <div class="layoutV2">
            <div class="filterGame fw-w mt24 mb24">
                <div class="filterGameItem flex-middle">
                    
                </div>
                <div class="filterGameItem flex-middle">
                    
                </div>
                <div class="filterGameItem flex-middle">
                    
                </div>
                <div class="filterGameItem flex-middle">
                    
                </div>
                <div class="filterGameItem flex-middle">
                    
                </div>
                <div class="filterGameItem flex-middle">
                    
                </div>
                <div class="filterGameItem flex-middle">
                    
                </div>
                <div class="filterGameItem flex-middle">
                    
                </div>
                <div class="filterGameItem flex-middle">
                    
                </div>
                <div class="filterGameItem flex-middle">
                    
                </div>
            </div>
            <div class="GameList flex-middle fw-w mt24 mb24">
                <div class="GameItemV4">
                    <img src="" alt="">
                </div>
                <div class="GameItemV4">
                    <img src="" alt="">
                </div>
                <div class="GameItemV4">
                    <img src="" alt="">
                </div>
                <div class="GameItemV4">
                    <img src="" alt="">
                </div>
                <div class="GameItemV4">
                    <img src="" alt="">
                </div>
                <div class="GameItemV4">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}