{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="flex-middle thethao">
        <div class="layoutV2">
            <div class="GameList flex-middle fw-w mt24">
                <div class="GameItemV2">
                    <img src="" alt="">
                    <div class="flex-middle">
                        <p class="font18">SABA</p>
                    </div>
                </div>
                <div class="GameItemV2">
                    <img src="" alt="">
                </div>
                <div class="GameItemV2">
                    <img src="" alt="">
                </div>
                <div class="GameItemV2">
                    <img src="" alt="">
                </div>
                <div class="GameItemV2">
                    <img src="" alt="">
                </div>
                <div class="GameItemV2">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}